<div class="container-fluid">
    <div class="card w-50 donor-login">
        <div class="card-body">
            <h4 class="text-center mb-5">Donor Login</h4>
        <form>
            <div class="container donor-form">
                <div class="row">
                    <div class="col-2">
                        <label for="username">Username</label>
                    </div>
                   <div class="col-10">
                    <input type="email" id="username" placeholder="Username" class="form-control w-50">
                   </div>
                </div>
                <div class="row mt-5">
                    <div class="col-2">
                        <label for="password">Password</label>
                    </div>
                    <div class="col-10">
                        <input type="password" id="password" placeholder="Password" class="form-control w-50">
                    </div>
                </div>
                <button routerLink="/donorDashboard" class="btn btn-danger">Login</button>
                <p class="mt-2">Don't Have An Account?<a href="donor-registration-form" class=" text-decoration-none">Click Here To Register.</a></p>
            </div>
        </form>
        </div>
      </div>
</div>
