<table datatable [dtOptions]="dtOptions">
    <thead>
        <tr>
            <th>ID</th>
            <th>Donated By</th>
            <th>Blood Group</th>
            <th>Available</th>
            <th>Use Before</th>
            <th>price</th>    
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of bloodBank">
         <td>{{item.bloodId}}</td>
         <td>{{item.donatedBy}}</td>
         <td>{{item.bloodGroup}}</td>
         <td>{{item.available}}</td>
         <td>{{item.useBefore | date:'fullDate'}}</td>
         <td>{{item.price}}</td>
        </tr>
    </tbody>
</table>