
  
            <ul class="list-unstyled my-5 px-4">
                <li>
                    <a routerLink="dashboard" class="text-decoration-none text-light">Dashboard</a>
                </li>
                <li class="mt-2">
                    <a class="text-decoration-none text-light" routerLink="donor-details" >Donor Details</a>
                </li>
                <li class="mt-2">
                    <a class="text-decoration-none text-light" routerLink="patient-details">Patient Details</a>
                </li>
                <li class="mt-2">
                    <a class="text-decoration-none text-light" routerLink="blood-stack">Blood Stack</a>
                </li>
            </ul>