
  <footer class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">
      <li class="social-icon__item"><a class="social-icon__link" href="#">
        <i class="bi bi-google-play"></i>      
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
        <i class="bi bi-facebook"></i>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
            <i class="bi bi-instagram"></i>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
           <i class="bi bi-whatsapp"></i>
        </a></li>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="#">About</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>

    </ul>
    <p class="projectName">&copy;{{ProjectName}}</p>
    <p>All Rights Reserved {{Year}}</p>
    <!-- <p>Made with  <i class="bi bi-heart-pulse-fill hSize"></i>  by <span class="devName">{{DeveloperName}}</span></p> -->
  </footer>

