

<!-- Donor Registration -->
<section id="donor-registration" class="section-padding">
    <div class="container">
     
      <div class="row pb-5 justify-content-center top-row">
       
        <div class="card donor-register p-0">
          <div class="card-header bg-danger text-white text-center">
              <h5> Join Us</h5>
          </div>
          <div class="card-body p-0">
        <form [formGroup]="registrationForm" (ngSubmit)="registerSuccessful()">
         
          <div class="form-body bg-light">
            <div class="row">

              <div class="col-lg-6 col-sm-12">
                <label for="fname" class="form-label">First Name</label>
                <input type="text" class="form-control" placeholder="First Name" formControlName="fName">
                <label for="lname" class="form-label">Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name" formControlName="lname">
                <label for="gender" class="form-label">Gender</label>
                <select name="gander" id="gender" class="form-control" formControlName="gender">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>    
                </select>
                
                  <label for="dob" class="form-label">D.O.B</label>
                  <input type="date" class="form-control" formControlName="dob">
                  
                </div>
               
               <div class="col-lg-6 col-sm-12">
                <label for="pno" class="form-label">Phone Number</label>
                <input type="tel" class="form-control" formControlName="pno">

                  <label for="email" class="form-label">Email ID</label>
                  <input type="email" class="form-control" placeholder="Email Address" formControlName="email">
    
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" placeholder="Enter Password" formControlName="password">
                  
                  <label for="cPassword" class="form-label">Confirm Password</label>
                  <input type="password" class="form-control" placeholder="Retype Password" formControlName="cpassword">
                  <label for="userRole" class="form-label">Register As:</label>
                  <select id="userRole" formControlName="UserRole" class="form-control">
                    <option *ngFor="let role of userRoles" [value]="role.userRole">{{role.userRole}}</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-danger col-2 mt-5 me-auto" style="margin-left:350px">Register</button>
                <p class="mt-4 text-center">Already Have An Account?<a routerLink="/login" class=" text-decoration-none">Click Here To Login.</a></p>
                  
            </div>
            </div>
        </form>
      </div>
      </div>
     </div>
    </div>
   
</section>
