<div class="container">
  <div class="row justify-content-center top-row">
    <div class="card donor-login bg-light">
      <div class="row">
        <div class="col-2 text-center">
          <img routerLink="/login" src="../../assets/images/icons-8-right@3x.png" class="arrowimg" />
        </div>
        <div class="col-8 p-0">
          <h4 class="txtForgot text-center">
            Please enter your username to reset your password.
          </h4>

        </div>
      </div>
      <div class="card-body">
        <form> 
            <input
                type="text"
                class="form-control txtEmail"
                id="email"
                placeholder="Enter your username / email"
                formControlName="email"
            />
            <button type="submit" class="btn btn-login bg-dark text-white mt-4">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
