input{
    padding-left:35px ;
}
.txtForgot{
    font-size: 14px;
    margin-top: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.03px;
  }
.top-row
{
    margin: 150px 0px 0px 0px;
}
.pass-row{
    margin-top: 40px;
}
.btn
{
    margin:0px 0px 0px 200px;
    border-radius: 20px;
    width: 111px;
}
@media screen and (min-wdth:346 ),(max-width:991px){
    .top-row{
        margin: 0px;
    }
    .btn
{
    margin: 15px 0px 0px 40px;
}
.pass-row{
    margin-top: 25px;
}
}