<div class="container">
  <div class="row justify-content-center top-row">
    <div class="card donor-login bg-light">
      <h4 class="txtForgot text-center">
        Please enter your username to reset your password.
      </h4>
      <div class="card-body">
        <form> 
            <input
                type="text"
                class="form-control txtEmail"
                id="email"
                placeholder="Enter your username / email"
                formControlName="email"
            />
            <button type="submit" class="btn btn-login bg-dark text-white mt-4">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
