
    <div class="row">
        <div class="col-3 py-3 px-3 mx-3 mt-4 bg-light border">
            <h5>A+</h5><!-- How Many Donors Are Register In This System-->
            <h5>1</h5>
        </div>
        <div class="col-3 py-3 px-3 mx-3 mt-4 bg-light border"> 
            <h5>B+</h5><!--Request Made By Patient -->
            <h5>2</h5>
        </div>
        <div class="col-3 py-3 px-3 mx-3 mt-4 bg-light border">
            <h5>O+</h5><!--out of total request how many request are approved -->
            <h5>37</h5>
    </div>
    <div class="col-3 py-3 px-3 mx-3 mt-4 bg-light border">
        <h5>AB+</h5>
        <h5>8</h5>
    </div>
    </div>

    <div class="row">
        <div class="col-3 py-3 px-3 mx-3 mt-4 bg-light border">
            <h5>A-</h5><!-- How Many Donors Are Register In This System-->
            <h5>7</h5>
        </div>
        <div class="col-3 py-3 px-3 mx-3 mt-4 bg-light border"> 
            <h5>B-</h5><!--Request Made By Patient -->
            <h5>1</h5>
        </div>
        <div class="col-3 py-3 px-3 mx-3 mt-4 bg-light border">
            <h5>O-</h5><!--out of total request how many request are approved -->
            <h5>10</h5>
    </div>
    <div class="col-3 py-3 px-3 mx-3 mt-4 bg-light border">
        <h5>AB-</h5>
        <h5>32</h5>
    </div>
    </div>



    <div class="row">
        <div class="col-3 py-3 px-3 mx-3 mt-4 bg-light border">
            <h5>Total Donors</h5><!-- How Many Donors Are Register In This System-->
            <h5>1</h5>
        </div>
        <div class="col-3 py-3 px-3 mx-3 mt-4 bg-light border"> 
            <h5>Total Request</h5><!--Request Made By Patient -->
            <h5>0</h5>
        </div>
        <div class="col-3 py-3 px-3 mx-3 mt-4 bg-light border">
            <h5>Approved Request</h5><!--out of total request how many request are approved -->
            <h5>0</h5>
    </div>
    <div class="col-3 py-3 px-3 mx-3 mt-4 bg-light  border">
        <h5>Total Blood Unit(in ml)</h5>
        <h5>80</h5>
    </div>
    </div>

