  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/bloodbank.png" class="d-block w-100 carousel-img" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/blood_donation.jpg" class="d-block w-100 carousel-img" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/1.jpg" class="d-block w-100 carousel-img" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<!-- Guidlines Section -->
  <section id="donation_steps" class="donation_steps section-padding">
    <div class="container">
      <h1 class="text-center fw-bold">Donation Process</h1>
      <h5 class="text-center">The donation process from the time you arrive center until the time you leave</h5>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card main-card">
            <img src="../../assets/images/process_1.jpg" class="card-img-top card-img" alt="...">
            <div class="card-body">
              <h4>REGISTRATION</h4>
              <p class="card-text">You need to complete a very simple registration form. Which contains all required contact information to enter in the donation process.</p>
            </div>
          </div> 
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card main-card">
            <img src="../../assets/images/process_2.jpg" class="card-img-top card-img" alt="...">
            <div class="card-body">
              <h4>SCREENING</h4>
              <p class="card-text">A drop of blood from your finger will take for simple test to ensure that your blood iron levels are proper enough for donation process.</p>
            </div>
          </div> 
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card main-card">
            <img src="../../assets/images/process_3.jpg" class="card-img-top card-img" alt="...">
            <div class="card-body">
              <h4>DONATION</h4>
              <p class="card-text">After ensuring and passed screening test successfully you will be directed to a donor bed for donation. It will take only 6-10 minutes.</p>
            </div>
          </div> 
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card main-card">
            <img src="../../assets/images/process_4.jpg" class="card-img-top card-img" alt="...">
            <div class="card-body">
              <h4>REFRESHMENT</h4>
              <p class="card-text">You can also stay in sitting room until you feel strong enough to leave our center. You will receive awesome drink from us in donation zone.</p>
            </div>
          </div> 
        </div>
      </div>
</div>
</section>
<!-- Search for blood section
<section id="Search_Blood">
  <div class="container">
    <div class="row justify-content-center top-row">
        <h1 class="h1 text-center mb-5">Search For Blood</h1>
        <form>
          <div class="container">
            <div class="row">
              <div class="col-2 text-center">
                <label for="bloodSearch" class="form-lable">Blood Group</label>
              </div>
              <div class="col-4">
                <select name="booldSearch" id="bloodSearch" class="form-control">
                  <option value="A+">A+</option>
                  <option value="B+">B+</option>
                  <option value="AB+">A+</option>
                  <option value="O+">O+</option>
                  <option value="A-">A-</option>
                  <option value="B-">B+</option>
                  <option value="AB-">AB-</option>
                  <option value="O-">O-</option>
                </select>
              </div>
              <div class="col-2 text-center">
                <label for="city" class="form-label">City</label>
              </div>
              <div class="col-4">
                <select name="city" id="city" class="form-control">
                  <option value="Aurangabad" class="form-control">Aurangabad</option>
                  <option value="Mumbai" class="form-control">Mumbai</option>
                  <option value="Pune" class="form-control">Pune</option>
                </select>
              </div>
            </div>
              <div class="my-3" style="display: flex;justify-content:center;">
                <button type="submit" class="btn col-4 btn-primary">Search</button></div>
          </div>
        </form>
  </div>
  </div>
</section>
   -->