   <section class="section-padding">
    <div class="container">
        <h5 class="text-center">My Donation History</h5>
            <table class="table table-striped table-responsive table-primary">
                <thead class="text-center">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Blood Group</th>
                        <th>Unit</th>
                        <th>Disease</th>
                        <th>Donated At</th>
                        <th>Date</th>
                        <!-- <th>Status</th> -->
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let d of details">
                        <td>{{d.id}}</td>
                        <td>{{d.name}}</td>
                        <td>{{d.age}}</td>
                        <td>{{d.bloodGroup}}</td>
                        <td>{{d.unit}}</td>
                        <td>{{d.disease}}</td>
                        <td>{{d.city}}</td>
                        <td>{{d.date | date:'fullDate'}}</td>
                        <!-- <td>
                            <button class="btn btn-success">Approved</button>
                        </td>
                    </tr> -->
                </tbody>
            </table>
    </div>
   </section>
  
    
